<settings>
<!-- Tags that must be set
*    var_flag - multiple        (flags used in the reading process of an xml file like string_values in order to support simple functions and variables in those)
*    vk_data                    (database, allowed filetypes: csv, xml. If vk_data_in_jar is true, only the filename should be given. Else, the (relative) path to the file with respect to the jar file should be used.)
*    group_prefix               (which group config is used, either "Gruppe" or "Zug")
*    vk_data_in_jar             (whether the vk_data file is contained in the .jar-File or is stored in an folder; "true" or "false" are allowed.)
*    string_values              (string values, allowed filetypes: xml)
*    icon                       (icon used, allowed filetypes: any FileType the Java Class ImageIcon accepts (recommended is PNG))
*    remark_font                (font used in the remark dialog, allowed filetypes: ttf)
-->
    <vk_data_in_jar>false</vk_data_in_jar>
    <vk_data>_cfg/guz2021_test.csv</vk_data><!---->
    <!--<vk_data>data_vk.xml</vk_data>-->

    <group_prefix>Zug</group_prefix>

    <string_values>lang_de.xml</string_values>

    <icon>vk_logo.png</icon>

    <remark_font>Verdana.ttf</remark_font>

    <var_flag name="xml_sysVar_marker">%</var_flag>
    <var_flag name="xml_localVar_marker">?</var_flag>
    <var_flag name="xml_func_arg_splitter">,</var_flag>
    <var_flag name="xml_var">var</var_flag>
    <var_flag name="xml_var_name">var_name</var_flag>
    <var_flag name="xml_var_value">var_value</var_flag>
    <var_flag name="xml_var_args">var_args</var_flag>
    <var_flag name="xml_var_argument">var_argument</var_flag>
    <var_flag name="xml_value">value</var_flag>
    <var_flag name="xml_value_name">name</var_flag>
    <var_flag name="xml_value_text">value_text</var_flag>
</settings>
